@charset "UTF-8";
@import './theme.scss';
//-----------------------------------------------------
// element-ui
//-----------------------------------------------------
// 面包屑
.el-breadcrumb {
	.el-breadcrumb__inner,
	.el-breadcrumb__separator,
	.el-breadcrumb__item:last-child .el-breadcrumb__inner, 
	.el-breadcrumb__item:last-child .el-breadcrumb__inner a, 
	.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, 
	.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
		font-weight: bold;
		color: #333;
	}
}
// 表单
.el-form {
	.el-select {
		display: block;
	}
	// .el-input__inner {
	// 	box-sizing: border-box;
	// 	width: 260px;
	// }
	.el-upload {
		width: 100%;
	}
	.el-date-editor.el-input, .el-date-editor.el-input__inner {
		width: 100%;
	}
	&.el-form--inline {
		.el-input-inner {
			width: 200px;
		}
		.el-input__inner {
			box-sizing: border-box;
			width: 200px;
		}
		.el-textarea {
			width: 200px;
		}
		.el-date-editor.el-input, .el-date-editor.el-input__inner {
			width: 200px;
		}
		.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
			width: 350px;
		}
	}
}
.el-dialog {
	.el-form {
		.el-input__inner {
			box-sizing: border-box;
			width: 100%;
		}
		.el-date-editor.el-input, .el-date-editor.el-input__inner {
			width: 100%;
		}
		&.el-form--inline {
			.el-input__inner {
				box-sizing: border-box;
				width: 200px;
			}
			.el-date-editor.el-input, .el-date-editor.el-input__inner {
				width: 200px;
			}
		}
	}
}
.el-dialog__wrapper, .el-message-box__wrapper {
	background-color: rgba( 0, 0, 0, .5);
}
.v-modal {
	display: none;
}
// 按钮
.el-button {
	&.is-circle {
		padding: 0;
	}
	[class*=" el-icon-"], 
	[class^=el-icon-] {
		font-size: 18px;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
	}
	&.el-button--mini, 
	&.el-button--small {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 18px;
	}
	&.el-button--mini {
		height: 28px;
		&.is-circle {
			width: 28px;
		}
	}
	&.el-button--small {
		height: 32px;
		&.is-circle {
			width: 32px;
		}
	}
}
// 表格
.el-table {
	td, th {
		text-align: center;
		padding: 6px 0;
	}
	thead {
		color: #000;
		font-weight: normal;
		td, th {
			padding: 12px 0;
			border-right: none;
			background-color: #e6e6e6;
			position: relative;
		}
	}
	.current-row {
		td {
			background-color: $tableCurrentBgColor !important;
		}
	}
	.el-table__body-wrapper {
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track { 
			-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		    border-radius: 0;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
		    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		    background: rgba(0, 0, 0, 0.2);
		}
	}
}
.el-table__empty-text {
	position: relative;
	line-height: 20px;
	padding: 80px 0 10px;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -38px;
		width: 76px;
		height: 70px;
		background-image: url(../images/table-empty.png);
		background-size: 100% 100%;
		background-position: center 10px;
	}
}

// 数字加减框
.el-input-number--small{
    width: 200px;
}
// 返回按钮
.el-page-header__left {
	&:after {
		width: 0;
		overflow: hidden;
	}
}

// 上传图片
.c-upload-wrapper {
	.el-upload {
		width: auto !important;
		text-align: left;
		.el-icon-plus {
			width: 32px !important;
			height: 32px !important;
			line-height: 30px !important;
			vertical-align: middle !important;
			text-align: center !important;
			border: 1px dashed $borderColor !important;
			box-sizing: border-box !important;
		}
		img {
			&.el-icon-plus {
				object-fit: contain;
			}
		}
	}
}