
@import '@/assets/scss/theme.scss';
// 视频样式

.c-live-player {
	background-color:red;
	.video-js {
		.vjs-big-play-button {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 3px solid #fff;
			margin: -25px 0 0 -25px;
			line-height: 30px;
			background-color: #000;
			.vjs-icon-placeholder {
				display: inline-block;
				width: 30px;
				height: 30px;
				vertical-align: top;
			}
		}
		.vjs-picture-in-picture-control {
			display: none !important;
		}
		.live-player-stretch-btn {
			display: none !important;
		}
	}
}