
@import '@/assets/scss/theme.scss';
// 视频样式
// .video-js .vjs-big-play-button{
// 	display: none !important;
// }
// .vjs-error .vjs-error-display .vjs-modal-dialog-content{
// 	padding:0 !important;
// 	color: #ccc !important;
// 	@include layoutMode(both);
// }
// .vjs-error .vjs-error-display:before{
// 	display: none !important;
// }
// .video-js {
// 	width: 100% !important;
// 	height: 100% !important;
// 	padding-top: 0 !important;
// }
.c-video-player {
	&.vjs-custom-skin {
		.video-js {
			.vjs-loading-spinner {
				display: none !important;
			}
			.vjs-big-play-button {
				display: none !important;
			}
			.vjs-volume-panel {
				display: none !important;
			}
			.vjs-modal-dialog {
				display: none !important;
			}
			.vjs-picture-in-picture-control {
				display: none !important;
			}
			.vjs-seek-to-live-control {
				display: none !important;
			}
		}
	}
}